/*fonts */
@font-face {
  font-family: 'DIN Pro';
  src: url('fonts/D-DIN-PRO-400-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/* Regular Bender */
@font-face {
  font-family: 'Bender';
  src: url('fonts/Jovanny\ Lemonad\ -\ Bender.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Bold Bender */
@font-face {
  font-family: 'Bender';
  src: url('fonts/Jovanny\ Lemonad\ -\ Bender-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Italic Bender */
@font-face {
  font-family: 'Bender';
  src: url('fonts/Jovanny\ Lemonad\ -\ Bender-Italic.woff') format('woff');
  font-weight: 400; /* Assuming the italic font is the regular weight */
  font-style: italic;
}

/* Italic Bender */
@font-face {
  font-family: 'Bender';
  src: url('fonts/Jovanny\ Lemonad\ -\ Bender-BoldItalic.woff') format('woff');
  font-weight: 700; /* Assuming the italic font is the regular weight */
  font-style: italic;
}

/* Italic Bender */
@font-face {
  font-family: 'Bender';
  src: url('fonts/Jovanny\ Lemonad\ -\ Bender-Light.woff') format('woff');
  font-weight: 300; /* Assuming the italic font is the regular weight */
  font-style: normal;
}

/* Italic Bender */
@font-face {
  font-family: 'Bender';
  src: url('fonts/Jovanny\ Lemonad\ -\ Bender-LightItalic.woff.woff') format('woff');
  font-weight: 300; /* Assuming the italic font is the regular weight */
  font-style: italic;
}




/* base.css */
html {
  font-family: 'Bender', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;

  scroll-behavior: smooth;
  line-height: 1.6;
  background-color: black !important; /* Light background */ 
  color: #ffffff !important; /* Dark text on light background */
  /*background-image: url("images/bg.jpg");*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;

  min-height: 100vh;
  word-spacing: 1px;

}

html::before { 
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/woodsmenu.png") no-repeat center center;
  background-size: cover;
  filter: blur(10px); 
  z-index: -1;
} 


*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {


}
main{
 max-width: 400px;
 
}




/*header container*/
.header-container {
  text-align: center;
  padding: 40px;
}

#title {
  margin-top: 20px;
  color: #9a8866;
  font-size: 40.4px;
  background-color: rgba(255, 255, 255, 0.1);;
  border: 4px solid #9a8866;
  border-radius: 10px;
}





/*container*/
.container {
  text-align: center;
  padding: 10px;
}



  /*locked-hints(sub container)*/
  .locked-hints {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    border: 4px solid #9a8866;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: default;
  }



  .menutitle{
    margin-top: 2%;
    margin: 5px;
    padding: 5px;
    
  }

  #menustring h1  {
    font-weight: 700;
    font-size: large;
    color: #9a8866;
    border-radius: 3%;
    overflow-wrap: break-word;
  }

  .welcometitle {
    margin: 5px;
    padding: 5px;
    opacity: 0.8;
  }


  .hintButtons {
    display: none;
    flex-direction: row;
    padding: 1px;
    border-radius: 10px;
    border: 0px solid #9a8866;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .hintButtons div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    /*margin: 6px;*/ 
    padding: 6px;
    width: 100px;
    height: 100px;
    transition: transform 0.1s ease;
    color: #9a8866;
  }
  
  .hintButtons div p {
    font-size: x-small;
  }

  .hintButtons div p.smallFont {
    font-size: small;
  }

  .hintButtons div img {
    width: 50px;
    height: 50px;
  }



  .hintContent{
    padding: 5px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
  }

  .hintContent:click {

  }

  .audioHint {
    display: none;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: fit-content;
    width: fit-content;
    
  }

  #audioListenButton {
    height: 42px;
    width: 42px;
    margin: 15px;
  }

  #audioListenButton img {
    height: 42px;
    width: 42px;
    transition: transform 0.1s ease; /* Add transition for smooth effect */
  }
  
  #audioListenButton:hover {
    transform: scale(1.1);

  }

  .iconHint {
    display: none;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: fit-content;
    width: fit-content;
  }

  .iconHint p{
    font-weight: 5px;
  }

  .iconHint img {
    height: 84px;
    width: 84px;
    filter: grayscale(100%) blur(7px);
    transform: rotate(180deg);

  }

  .nameHint {
    margin: 20px;
  }
  #textHint{
    font-size: large;
  }
  /********end-locked-hints*****/
  

  /*autocomplete-container sub*/

  .autocomplete-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px;
  }

  .input-container {
    display: flex;
    flex-direction: row;
    
  }

  .input-box-wrapper{
    display:flex;
    width: 100%;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
  }

  #searchBox {
    font-family: inherit;
    color: #9a8866;
    font-size: 1rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    height: 50%;
    width: 100%;
    display: block;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: all 0.1s;
  }

  #searchBox:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 0.3rem solid #9a8866;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  }

  #searchBox:hover {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.25);
  }

  /* For Chrome, Safari, and Edge */
  ::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
  }

  /* Track */
  ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); /* color of the scrollbar track */
  border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #888; /* color of the scrollbar handle */
  border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar handle on hover */
  }


  .input-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-button-wrapper img{
    max-width: 50px;
    max-height: 50px;
    transition: transform 0.1s ease;
  }
  
  .input-button-wrapper img:hover {
    transform: scale(1.1);
  }

  .weapon-list-container{
    width: 85%;
    max-height: 250px;
    overflow-y: auto;
  }
  .weapon-list{
    cursor: default;
    display: none;
    flex-direction: column;
    align-items: baseline;
  }



  .weapon-list li {
    display: flex;
    width: 100%;
    height: 64px;
    text-align: center;
    align-items: center;
    
    background-color: rgba(255, 255, 255, 0.15);
    transition: ease-in-out 0.2s;
  }

  .weapon-list li:hover {
    background-color: rgba(255, 255, 0, 0.15);
  }

  .weapon-list li img {
    margin-right: 10%;
    margin-left: 5%;
    width: 50px;
    height: 50px;
  }





  /*******end-autocomplete-container-sub******/

  /*hintsContainer*/

  .hintsContainer{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .subHintsContainer{
    display: flex;
    flex-direction: column;
    width: 600px;
    
  }

  .hintDetailContainer{
    display: flex;
    flex-direction: row;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    
    

  }
 
  .hintDetailContainer div{
    display: flex;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;

    word-wrap: break-word;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .hintDetailContainer.visible{
    opacity: 1;
    transform: translateY(0);
  }

  #hintListContainer {
   display: flex;
   width: 100%;
  }

  .hints-list {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }

  .hints-list li div{
    display: flex;
    flex-direction: row;
  }

  .hints-list li div div{
    display: flex;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;

    border: 1px solid black ;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: small;

    position: relative; /* Needed for the loading bar positioning */
    overflow: hidden; /* Ensures content stays within the div */
   


    /*transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    /*backface-visibility: hidden; /* Ensure the back face is not visible during the flip */
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    backface-visibility: hidden; /* Ensure the back face is not visible during the flip */
    box-shadow: 0px 0px 1px 1px #0000001a;
    
  }

  
  .hints-list li div div.correctMatch {
    animation: reveal 0.5s forwards ,flipIn 0.8s forwards,pulse-animation 2s 3;  /*pulse animation*/;
  }  
  .hints-list li div div.nullMatch {
    animation: reveal 0.5s forwards, flipIn 0.8s forwards;  /*pulse animation*/;
  }  




  
/*.hints-list li div div.animation {   /*flip animation
  animation: flipIn 0.8s forwards;
}*/


  scrappedfadeinanimation{
    opacity: 1;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
  }

  .hints-list li div div.visible{
    opacity: 1;
    transition: none !important;
  }
 



  scrappedslotmachine {
    animation: slotSpin 1s ease-in-out forwards;
  }


  /* Pulse animation */
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 255, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 30px 20px rgba(0, 255, 0, 0);
  }
}

  
@keyframes flipIn {
  0% {
    transform: rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
  
  @keyframes slotSpin {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-50px);
    }
    50% {
      transform: translateY(50px);
    }
    75% {
      transform: translateY(-25px);
    }
    100% {
      transform: translateY(0);
    }
  }


  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

/* Keyframes for loading bar */
@keyframes load {
  0% {
    transform: scaleX(0);
  }
  99% {
    transform: scaleX(1);
  }
  100%{
    transform: scaleX(0);
  }
}

/* Keyframes for spinning circle */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Keyframes for disappearing animation */
@keyframes disappear {
  0% {
      opacity: 1;
  }
  99% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

/* Keyframes for revealing the content */
@keyframes reveal {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* Keyframes for appearing animation */
@keyframes appear {
  0% {
      opacity: 0;
  }
  99% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Staggered animation delays */
.hints-list li div div:nth-child(2)::before,
.hints-list li div div:nth-child(2),
.hints-list li div div:nth-child(2)::after {
  animation-delay: 0.1s;

}

.hints-list li div div:nth-child(3)::before,
.hints-list li div div:nth-child(3),
.hints-list li div div:nth-child(3)::after {
  animation-delay: 0.2s;
}

.hints-list li div div:nth-child(4)::before,
.hints-list li div div:nth-child(4),
.hints-list li div div:nth-child(4)::after {
  animation-delay: 0.3s;
}

.hints-list li div div:nth-child(5)::before,
.hints-list li div div:nth-child(5),
.hints-list li div div:nth-child(5)::after  {
  animation-delay: 0.4s;
}
.hints-list li div div:nth-child(6)::before,
.hints-list li div div:nth-child(6),
.hints-list li div div:nth-child(6)::after  {
  animation-delay: 0.5s;
}
.hints-list li div div:nth-child(7)::before,
.hints-list li div div:nth-child(7),
.hints-list li div div:nth-child(7)::after  {
  animation-delay: 0.6s;
}


  .hints-list li div div img{
    width: 80px;
    height: 80px;
  }
  

  #hintList li {
    list-style-type: none;   /*this removes bullet points*/
  } 



  /*******end-hintsContainer******/



  /*winContainer*/


  .winContainer{
    display: none;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 4px solid #9a8866;
    background-color: rgba(255, 255, 255, 0.1);
    
  }

  #countdown {
    font-size: large;
    margin: 2% 0;
  }

  #winnerCount {
    font-size: larger;
    margin: 10% 0;
  }

  #correctImage img{
    max-width: 120px;
    max-height: 120px;
    width: 80px;
    height: 80px;
  }

  #attempts{
    font-size: x-large;
    font-weight: 500;
    font-style: italic;
    margin: 10% 0 ;
  }







  /*******end-winContainer*****/



  /*******tutorialContainer*****/



  .tutorialContainer{
    display: none;
    align-items: center;
    flex-direction: column;
    margin: 20% 0;
  }

  .colorCodes{
    display: flex;
    flex-direction: row;
    margin: 5% 0;
  }

  .colorCodes div{
    display: flex;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    margin: 0 5px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #exCorrect{
    background-color: green;
  }

  #exWrong{
    background-color: red;
  }

  #exPartial{
    background-color: rgb(150,150,0);
  }


  #exArrowUp{
    background-color: red;
    align-items: center;
    justify-content: center;
    background-image: url('images/arrow-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
  }

  

  #exArrowDown{
    background-color: red;
    align-items: center;
    justify-content: center;
    background-image: url('images/arrow-down.svg');
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents repeating the background image */
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
  }




  /*******end-tutorialContainer*****/


  /******creditContainer*****/
  .creditContainer{
    display: flex;
    margin: 50% 0;
    flex-direction: row;
    justify-content: center;
  }
  .creditContainer div{
    width: 64px;
    height: 64px;
    word-wrap: break-word;
    font-size: large;
    transition: transform 0.3s ease; 
    margin: 5% 5%;
  }

  .icon{
    color: #9a8866;
    width: 50px;
    height: 50px;
  }
  .creditContainer div:hover{
    transform: scale(1.1);
  }
  .creditContainer p{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  .creditContainer p a{
    color: #9a8866;
    font-size: smaller;
    
  }





  /****end-creditContainer****/



/****************************/







/*Custom Identifiers*/
.hover-effect:hover {
  transform: scale(1.1);

}

.blur {
  filter: blur(5px);
}

.transition-effect {
  opacity: 1;
  transform: scale(1.1);
  
}

.greyscale-blur {
  filter: grayscale(100%) blur(5px);
}  

.no-text-cursor {
  cursor: default;
}



@keyframes winAnimation {
  0% {
    transform: scale(0.5) rotate(0deg);
    opacity: 0;
  }
  30% {
    transform: scale(0.7) rotate(20deg);
    opacity: 0.5;
  }
  60% {
    transform: scale(1.1) rotate(-10deg);
    opacity: 0.7;
  }
  80% {
    transform: scale(1.05) rotate(5deg);
    opacity: 0.9;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

/*****end-container********/

/*media query*/

@media (max-width: 564px){

  main {
    max-width: 350px;
  }
  .subHintsContainer{
    overflow: auto;
  }

  .hintDetailContainer div{
    display: flex;
    width: 64px;
    padding-right: 1%;
    word-wrap: break-word;
  }
  

  
}