/*fonts */
@font-face {
  font-family: 'DIN Pro';
  src: url('fonts/D-DIN-PRO-400-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

@font-face {
  font-family: 'Bender';
  src: url('fonts/Jovanny\ Lemonad\ -\ Bender.woff') format('woff');
}



/* base.css */
html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bender', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;


  line-height: 1.6;
  background-color: #ffffff; /* Light background */
  color: #ffffff; /* Dark text on light background */
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}



/*header container*/
.header-container {
  text-align: center;
  padding: 10px;
}

#title {
  margin-top: 20px;
}


/*container*/
.container {
  text-align: center;
  padding: 10px;
}



  /*locked-hints(sub container)*/
  .locked-hints {
    display: flex;
    flex-direction: column;
    padding: 5px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 4px solid #9a8866;
    background-color: black;
  }



  .menutitle{
    margin-top: 2%;
    margin: 5px;
    padding: 5px;
  }
  #menustring h1  {
    font-weight: 300;
    font-size: large;
    
    border-radius: 3%;
  }




  .hintButtons {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #9a8866;
  }

  .hintButtons div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 15px;
    padding: 8px;
    width: 100px;
    height: 100px;
  }
  
  .hintButtons div p {
    font-size: medium;
    
  }

  .hintButtons div img {
    width: 62px;
    height: 62px;
  }

  .hover-effect:hover {
    transform: scale(1.1);
  }
  
  .blur {
    filter: blur(5px);
  }
 


  


  .hintContent{
    padding: 5px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
  }

  .hintContent:click {

  }

  .audioHint {
    display: none;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: fit-content;
    width: fit-content;
    
  }

  #audioListenButton {
    height: 42px;
    width: 42px;
    margin: 15px;
  }

  #audioListenButton img {
    height: 42px;
    width: 42px;
  }
  
  #audioListenButton:hover {
    background-color: red;
  }

  .iconHint {
    display: none;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: fit-content;
    width: fit-content;
  }

  .iconHint img {
    height: 84px;
    width: 84px;
    filter:blur(3px);
  }
  
